/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

/*table{width:100%;border-collapse:collapse;margin:1em 0;}*/
th, td{text-align:center;}/*padding:.5em;border:1px solid #fff;*/
th{background:#FFE373;color:#fff;}
td{background:#FFFFEF;}

/* tablecloth styles */

tr.even td{background:#FFF3BD;}
tr.odd td{background:#FFFFEF;}

th.over, tr.even th.over, tr.odd th.over{background:#FFE373;}
th.down, tr.even th.down, tr.odd th.down{background:#FFE373;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#FFE373;}
td.down, tr.even td.down, tr.odd td.down{background:#FFE373;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#FFE373;color:#000;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}